{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    {% block links %}
    <link rel="stylesheet" href="//unpkg.com/leaflet@1.0.3/dist/leaflet.css" /> <!-- Leaflet CSS file (style sheets)>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <script src="//unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script> <!--leaflet java script file>-->
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//malsup.github.io/jquery.blockUI.js"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    {% endblock %} 
</head>
<body>
    {% block content %}
    <div id="contents">
        <div id="map"></div>   

        <div id="inputs">
            <form action="{{url_for('map')}}" id="coordinate_form" method="POST">

                <div id="latitude_box">
                    <label for="latitude">Latitude:</label>
                    <input id="latitude" name="latitude" class="coordinate_input" type="text"/>
                </div>

                <div id="longitude_box">
                    <label for="longitude">Longitude:</label>
                    <input id="longitude" name="longitude" class="coordinate_input" type="text"/>
                </div>
                
                <div id="submit_box" class="inline-block flex-horizontal-center">
                    <input id="submit" value="Submit" type="submit"/>
                </div>
                
            </form>
        </div>
    </div>

    <div id="loadingMessage" style="display:none;">
        <h1>Processing data...</h1>
        <div class="loader"></div> 
    </div>


<script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlZWxtYW4yNzEyIiwiYSI6ImNrYzhhZXpxbzB0YXUydm54a244aHQ5a3EifQ.itjiUabFvbEDR2ddyDukAQ';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
    center: [-1.5, 53.5], // starting position [lng, lat]
    zoom: 5, // starting zoom
    });

    var lat_input = document.getElementById("latitude"); 
    var long_input = document.getElementById("longitude"); 

    map.on('click', function(e) {
        lat_input.value=e.lngLat.lat;
        long_input.value=e.lngLat.lng;
        new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML(e.lngLat)
            .addTo(map);
    });

</script>

<script>
    $( function() {
        $("#submit").on("click", function() {
            $.blockUI({ message: $('#loadingMessage') }); 
        });
    });


</script>



{% endblock %}
</body>
</html> 