html { height: 100%; } 

body {
    background: #ececec;
    height: 100%;
}
.loader {
    margin: auto;
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #db7c0f; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

#loadingMessage {
    background: #6d6d6d71;
    padding: 10px;
    border-radius: 5px;
}

#contents {
    display: flex;
    flex-direction: column;
    width:100%;
    min-height: 100%;
    margin: 0 auto;
}

#map {
    flex: 10 10 auto;
    width: 90%;
    height: 80%;
    min-height: 60%;
    margin: 0 auto;
}

#inputs {
    flex: 1 1 auto;
    margin: 0 auto;
}

#coordinate_form {
    flex: 1 1 auto;
    flex-direction: row;
    margin: 0 auto;
}

.coordinate_input{
    flex: 1 1 auto;
}

#submit_box {
    flex: 1 1 auto;
    margin: 0 auto;
}

#submit {
    display: block;
    flex: 1 1 auto;
    margin: 0 auto;
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}